<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Reporte de cadena de Marvov</title>
			<meta name="description" content="Reporte de cadena de Marvov">
			<meta name="author" content="Equipo 11">

<!--
			<link rel="stylesheet" href="css/styles.css?v=1.0">
-->
	</head>

	<body>
		<header>
			<center><h1>Reporte de mercado usando cadenas de Markov</h1></center>
		</header>
		
		<h2>¿A dónde van los clientes de cada marca?</h2>
		
		<p>Por cada marca de las detectadas, ¿a cual migran cuando cambian de producto? Recordando que es posible que esten
		satifechos con su marca actual y decidan quedarse con ella.</p>
		
		$migracion
		
		<h2>Estado futuro del mercado</h2>
		
		<p>A la larga, si los patrones siguen como hasta ahora, el mercado se verá así:</p>
		<center><img src=img/alalarga.png></center>
		
		
	</body>
</html>
