<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Reporte de cadena de Marvov</title>
			<meta name="description" content="Reporte de cadena de Marvov">
			<meta name="author" content="Equipo 11">

<!--
			<link rel="stylesheet" href="css/styles.css?v=1.0">
-->
	</head>

	<body>
		<header>
			<center><h1>Reporte de mercado usando cadenas de Markov</h1></center>
		</header>
		
		
		<h2>A la larga</h2>
		
		<p>A la larga, basado en los datos otorgados, el mercado se verá así:</p>
		<center><img src=img/alalarga.png></center>
		
	</body>
</html>
